.projectsWrapper {
  padding: 10vh;
  padding-top: 0;
}

.projectsHeadings {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.2rem;
}

.projectsButton {
  font-size: 1.6rem;
  font-weight: 700;
  color: #3e4247;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.8rem;
}

.active {
  border-bottom: 1px solid #9013fe;
}

/* Media Queries */

@media screen and (max-width: 1400px) {
  .cardWrapper {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

@media screen and (max-width: 855px) {
  .projectsWrapper {
    padding: 10vh 5vh;
  }
  .cardWrapper {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .projectsButton {
    font-size: 1rem;
  }
  .cardWrapper {
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  }
}
