.skillsWrapper {
  padding: 20vh 15vh;
  padding-top: 0;
}

.imgWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding: 2rem;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #fff;
}

.imgWrapper > img {
  width: 90px;
  height: auto;
  transition: transform 0.3s;
}

.imgWrapper > img:hover {
  transform: scale(1.1);
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  .imgWrapper {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  .imgWrapper > img {
    width: 7rem;
  }
}

@media screen and (max-width: 855px) {
  .skillsWrapper {
    padding: 0 5vh;
    padding-bottom: 10vh;
  }

  .imgWrapper {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }
  .imgWrapper > img {
    width: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .imgWrapper {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 1rem;
    gap: 0.6rem;
  }

  .imgWrapper > img {
    width: 4rem;
  }
}
