.sectionInfo {
  text-align: center;
  color: #000;
  font-size: 2.8rem;
  font-weight: 700;
  padding-bottom: 0.8rem;
  margin-bottom: 8.2rem;
  border-bottom: 1px solid #9013fe;
}

.homeWrapper {
  padding: 10vh 15vh;
  position: relative;
  min-height: 70vh;
}

.homeGreeting {
  font-size: 7.2rem;
  font-weight: 900;
}

.homeAbout {
  margin-top: 3.4rem;
  font-size: 2.4rem;
  color: #888;
  font-weight: 500;
}

.buttons {
  margin-top: 4.2rem;
  display: flex;
  gap: 1rem;
}

.cvButton,
.hireButton {
  width: 9rem;
  cursor: pointer;
  padding: 1.5rem 2.4rem;
  font-size: 1.1rem;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
}

.cvButton {
  background-color: #9013fe;
  color: #fff;
  transition: color 0.3s ease-in;
  overflow: hidden;
  position: relative;
  border: 1px solid #9013fe;
}

.cvButton::before,
.hireButton::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cvButton::before {
  top: 100%;
  background-color: #fff;
  transition: top 0.5s ease-in-out;
}

.cvButton:hover::before {
  top: 0;
}

.cvButton:hover {
  color: #9013fe;
}

.cvButton > span,
.hireButton > span {
  position: relative;
  z-index: 1;
}

.hireButton {
  position: relative;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transition: color 0.3s ease-in;
  overflow: hidden;
}

.hireButton::before {
  bottom: 100%;
  background-color: #000;
  transition: bottom 0.5s ease-out;
}

.hireButton:hover::before {
  bottom: 0;
}

.hireButton:hover {
  color: #fff;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  .homeWrapper {
    min-height: 40vh;
  }

  .homeWrapper > div > h4 {
    display: none;
    visibility: hidden;
  }

  .homeGreeting {
    font-size: 5.2rem;
  }

  .homeAbout {
    font-size: 2.1rem;
  }

  .cvButton,
  .hireButton {
    padding: 1.2rem 2.2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 855px) {
  .homeWrapper {
    padding: 10vh 5vh;
    margin-bottom: 5.2rem;
  }

  .homeGreeting {
    font-size: 3.4rem;
  }

  .homeAbout {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 500px) {
  .homeWrapper {
    margin-bottom: 3rem;
  }
  .homeGreeting {
    font-size: 2.8rem;
  }

  .homeAbout {
    font-size: 1.4rem;
  }

  .cvButton,
  .hireButton {
    padding: 1rem 2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .homeGreeting {
    font-size: 2.4rem;
  }

  .homeAbout {
    font-size: 1.2rem;
  }

  .cvButton,
  .hireButton {
    font-size: 0.7rem;
  }
}
